<div class="perfil-contenedor">
  <h2>👤 Bienvenido, {{ nombreUsuario }} {{ apellidoUsuario }}</h2>

  <div class="datos-personales">
    <p>🎂 Edad: <strong>{{ edad }}</strong> </p>
    <p>🪪 Tipo de documento: <strong>{{ tipoDocumento }}</strong></p>
    <p>🔢 Documento: <strong>{{ documento }}</strong></p>
    <p>📅 Fecha de registro: <strong>{{ fechaRegistro }}</strong></p>
    <p>🔑 Tipo de usuario: <strong>{{ tipoUsuario }}</strong></p>
    <p>📧 Correo: <strong>{{ correoUsuario }}</strong></p>
  </div>

  <div class="stats">
    <p>🏆 Puntaje total: <strong>{{ puntaje }}</strong></p>
    <p>🎯 Nivel actual: <strong>{{ nivel }}</strong></p>
    <p>🥇 Medallas obtenidas: <span style="font-size: 1.5rem;">{{ medallas }}</span></p>
  </div>

<div class="cursos-canje">
  <h3>🎓 Cursos disponibles para canjear</h3>

  <!-- Si hay cursos disponibles -->
  <ul *ngIf="cursosDisponibles.length > 0; else sinCursos">
    <li *ngFor="let curso of cursosDisponibles">
      ✅ {{ curso }}
    </li>
  </ul>

  <!-- Si NO hay cursos disponibles -->
  <ng-template #sinCursos>
    <p *ngIf="puntaje === 0">
      ❌ Aún no tienes puntos suficientes para canjear cursos.
    </p>
    <p *ngIf="puntaje > 0">
      💡 ¡Aprovecha en canjear tus puntos con algunos cursos de tu interés!
    </p>
  </ng-template>
</div>

    

  <!-- ✅ Solo ADMIN y DOCENTE ven las pestañas -->
  <div class="perfil-container">

    <div *ngIf="puedeVerCursos() || puedeVerUsuarios()" class="tabs">
      <div class="tab" [class.active]="mostrarTablaUsuarios" *ngIf="puedeVerUsuarios()" (click)="verUsuarios()">
        Usuarios Registrados
      </div>
      <div class="tab" [class.active]="mostrarTablaCursos" *ngIf="puedeVerCursos()" (click)="listarCursos()">
        Cursos con Certificación
      </div>
    </div>

    <!-- Tabla de usuarios (solo admin) -->
    <div class="contenido" *ngIf="mostrarTablaUsuarios">
      <div class="filtros">
        <input type="text" [(ngModel)]="filtroNombre" (input)="filtrarUsuarios()" placeholder="Buscar por nombre o apellido...">
        <select [(ngModel)]="cantidadFilas" (change)="filtrarUsuarios()">
          <option [value]="10">10 filas</option>
          <option [value]="50">50 filas</option>
          <option [value]="100">100 filas</option>
        </select>
      </div>

      <div class="tabla-responsive">
       <table class="tabla-usuarios">
          <thead>
            <tr>
              <th>#</th>
              <th>Nombres y Apellidos</th>
              <th>Correo</th>
              <th>Tipo</th>
              <th>Ultimo acceso</th>
              <th *ngIf="usuarioLogueado?.tipo_usuario === 'administrador'">¿Registro Historial?</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let u of usuariosFiltrados">
              <td>{{ u.id }}</td>
              <td>{{ u.nombre + ' ' + u.apellido }}</td>
              <td>{{ u.correo }}</td>
              <td>{{ u.tipo_usuario }}</td>
              <td>
                <span *ngIf="u.en_linea === 1">🟢 En línea</span>
                <span *ngIf="u.en_linea === 0">
                  Última conexión: 
                  {{ u.ultima_conexion | date:'d \'de\' MMMM \'de\' y, HH:mm' }} 
                  ({{ u.ultima_conexion ? obtenerTiempoTranscurrido(u.ultima_conexion) : '' }})
                </span>
              </td>
              <td *ngIf="usuarioLogueado?.tipo_usuario === 'administrador'">
                <div class="permiso-actions">
                  <button
                    *ngIf="u.permiso_reciclaje !== 'activo'"
                    (click)="otorgarPermisoReciclaje(u)"
                  >
                    Dar Permiso
                  </button>
                  
                  <ng-container *ngIf="u.permiso_reciclaje === 'activo'">
                    <span class="permiso-otorgado">Permiso Otorgado ✅</span>
                    <button
                      (click)="revocarPermisoReciclaje(u)"
                      class="btn-revocar"
                    >
                      Revocar Permiso
                    </button>
                  </ng-container>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Botón para mostrar u ocultar tabla -->
<div class="botones-cursos" *ngIf="tipoUsuario === 'estandar'">
  <button *ngIf="puedeCanjearAlgunCurso()" (click)="mostrarTablaCanje = !mostrarTablaCanje">
    📋 {{ mostrarTablaCanje ? 'Ocultar cursos para canjear' : 'Ver cursos para canjear' }}
  </button>

  <button (click)="mostrarCursosCanjeados = !mostrarCursosCanjeados">
    🎓 {{ mostrarCursosCanjeados ? 'Ocultar cursos canjeados' : 'Ver cursos canjeados' }}
  </button>
</div>



    <!-- Tabla con canje solo para estándar, siempre visible -->
    <div class="contenido" *ngIf="tipoUsuario === 'estandar' && mostrarTablaCanje">
      <div class="tabla-responsive">
        <table class="tabla-usuarios">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Duración</th>
              <th>Horario</th>
              <th>Precio</th>
              <th>Modalidad</th>
              <th>Incluye</th>
              <th>Canjear</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of cursosFiltrados">
              <td>{{ c.nombre }}</td>
              <td>{{ c.duracion }}</td>
              <td>{{ c.horario }}</td>
              <td>
                S/ {{ c.precio }}<br>
                🟢 {{ calcularPuntosRequeridos(c.precio) }} puntos
              </td>

              <td>{{ c.modalidad }}</td>
              <td>{{ c.extra }}</td>
              <td><button (click)="canjearCurso(c)">🎁 Canjear</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Tabla de cursos ya canjeados -->
<div *ngIf="mostrarCursosCanjeados">
  <table class="tabla-cursos">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Duración</th>
        <th>Horario</th>
        <th>Modalidad</th>
        <th>Incluye</th>
        <th>Precio</th>
        <th>Fecha Canje</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let curso of cursosCanjeados">
        <td>{{ curso.nombre }}</td>
        <td>{{ curso.duracion }}</td>
        <td>{{ curso.horario }}</td>
        <td>{{ curso.modalidad }}</td>
        <td>{{ curso.extra }}</td>
        <td>S/. {{ curso.precio }}</td>
        <td>{{ curso.fecha_canje }}</td>
      </tr>
    </tbody>
  </table>
</div>

    
    <div *ngIf="tipoUsuario === 'estandar'" class="qr-bonus">
      <div class="qr-bonus-texto">
        <h3>🔄 ¡Convierte tus Reciclajes en Recompensas!</h3>
        <p>
          Cada vez que lleves tus residuos reciclables a un punto ecológico y escanees el código QR, 
          estarás sumando <strong>tiempo ecológico</strong> 🌱, desbloqueando <strong>beneficios</strong> y 
          subiendo de nivel en tu compromiso por el planeta. ♻️
        </p>
        <p style="margin-top: 0.5rem;">
          📍 ¡Encuentra un punto, escanea y gana! ¡El cambio comienza contigo! 💚
        </p>
      </div>
      
      <button (click)="camaraActiva = true">📲 Escanear Código QR</button>
      <p *ngIf="mensajeQR" style="margin-top: 0.5rem;">{{ mensajeQR }}</p>

      <zxing-scanner
        *ngIf="camaraActiva"
        [formats]="formatoQR"
        (scanSuccess)="procesarCodigoQR($event)">
      </zxing-scanner>


      <button *ngIf="camaraActiva" (click)="camaraActiva = false">❌ Cerrar cámara</button>
    </div>

    <!-- Tabla completa solo para admin/docente -->
    <div class="contenido" *ngIf="mostrarTablaCursos && (puedeVerCursos() || puedeVerUsuarios())">
      <div class="filtros">
        <input type="text" [(ngModel)]="filtroNombre" (input)="filtrarCursos()" placeholder="Buscar cursos...">
        <select [(ngModel)]="cantidadFilas" (change)="filtrarCursos()">
          <option [value]="10">10 filas</option>
          <option [value]="50">50 filas</option>
          <option [value]="100">100 filas</option>
        </select>
        <button (click)="modalCurso.showModal()">➕ Nuevo Curso</button>
      </div>

      <div class="tabla-responsive">
        <table class="tabla-usuarios">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Duración</th>
              <th>Horario</th>
              <th>Precio</th>
              <th>Modalidad</th>
              <th>Incluye</th>
              <th>Estado</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of cursosFiltrados">
              <td>{{ c.id }}</td>
              <td>{{ c.nombre }}</td>
              <td>{{ c.duracion }}</td>
              <td>{{ c.horario }}</td>
              <td>S/ {{ c.precio }}</td>
              <td>{{ c.modalidad }}</td>
              <td>{{ c.extra }}</td>
              <td>
                <span [ngStyle]="{'color': c.estado === 'activo' ? 'green' : 'red', 'font-weight': 'bold'}">
                  {{ c.estado }}
                </span>
              </td>
              <td><button (click)="editarCurso(c)">✏️ Editar</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  <dialog #modalEditarCurso>
    <h3>✏️ Editar Curso</h3>
    <form (submit)="guardarEdicion(); modalEditarCurso.close(); $event.preventDefault()">
        <input type="text" placeholder="Nombre del curso" [(ngModel)]="cursoAEditar.nombre" name="nombre_edit" required>
        <input type="text" placeholder="Duración (Ej: 4 semanas)" [(ngModel)]="cursoAEditar.duracion" name="duracion_edit" required>
        <input type="text" placeholder="Horario (Ej: Lunes 7pm a 10pm)" [(ngModel)]="cursoAEditar.horario" name="horario_edit" required>
        <input type="number"
                placeholder="Precio (Ej: 100.00)"
                [(ngModel)]="cursoAEditar.precio"
                name="precio_edit"
                required
                min="1"
                (input)="validarPrecioEdicion()">
        <input type="text" placeholder="Modalidad (Ej:Presencial o Virtual)" [(ngModel)]="cursoAEditar.modalidad" name="modalidad_edit" required>
        <input type="text" placeholder="Incluye (Ej: certificado)" [(ngModel)]="cursoAEditar.extra" name="extra_edit">
        <select [(ngModel)]="cursoAEditar.estado" name="estado_edit">
            <option value="activo">Activo</option>
            <option value="inactivo">Inactivo</option>
        </select>
        <div>
            <button type="submit">Guardar Cambios</button>
            <button type="button" (click)="modalEditarCurso.close()">Cancelar</button>
        </div>
    </form>
</dialog>

    <dialog #modalCurso>
      <h3>➕ Registrar Curso</h3>
      <form (submit)="registrarCurso(); modalCurso.close(); $event.preventDefault()">
        <input type="text" placeholder="Nombre del curso " [(ngModel)]="nuevoCurso.nombre" name="nombre" required>
        <input type="text" placeholder="Duración (Ej: 4 semanas)" [(ngModel)]="nuevoCurso.duracion" name="duracion" required>
        <input type="text" placeholder="Horario (Ej: Lunes 7pm a 10pm)" [(ngModel)]="nuevoCurso.horario" name="horario" required>
        <!--<input type="number" placeholder="Precio" [(ngModel)]="nuevoCurso.precio" name="precio" required>-->
        <input type="number"
       placeholder="Precio (Ej: 100.00)"
       [(ngModel)]="nuevoCurso.precio"
       name="precio"
       required
       min="1"
       (input)="validarPrecio()">

        <input type="text" placeholder="Modalidad (Ej:Presencial o Virtual)" [(ngModel)]="nuevoCurso.modalidad" name="modalidad" required>
        <input type="text" placeholder="Incluye (Ej: certificado)" [(ngModel)]="nuevoCurso.extra" name="extra">
        <select [(ngModel)]="nuevoCurso.estado" name="estado" disabled>
          <option value="activo">Activo</option> 
          <option value="inactivo">Inactivo</option>
        </select>
        <div>
          <button type="submit">Guardar</button>
          <button type="button" (click)="modalCurso.close()">Cancelar</button>
        </div>
      </form>
    </dialog>

  </div>


  <!-- Modal simple -->
<div class="modal" [ngClass]="{ 'show': mostrarModal }" [ngStyle]="{ 'display': mostrarModal ? 'flex' : 'none' }">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Mensaje</h5>
        <button type="button" class="btn-close" aria-label="Cerrar" (click)="cerrarModal()">×</button>
      </div>
      <div class="modal-body">
        <p>{{ mensajeModal }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<dialog #modalPermiso>
  <h3>{{ tituloModalPermiso }}</h3>
  <p>{{ mensajePermiso }}</p>
  <div>
    <button (click)="modalPermiso.close()">Cerrar</button>
  </div>
</dialog>

<!-- Solo el administrador ve el código QR -->
    <div *ngIf="tipoUsuario === 'administrador'" class="qr-container">
      <h3>📷 Código QR para Escaneo</h3>
      <!--<p style="color: gray; font-size: 0.8rem;">Contenido del QR: {{ qrData }}</p>-->

      <p>📌 Los usuarios estándar pueden escanear este código para recibir puntos.</p>

      <qrcode 
        [qrdata]="qrData" 
        [width]="200" 
        [errorCorrectionLevel]="'M'">
      </qrcode>
    </div>

    <!-- Botón Sugerencias -->
<div *ngIf="['estandar', 'docente'].includes(tipoUsuario)" class="sugerencias-btn">
  <button (click)="modalSugerencia.showModal()">💡 Sugerencias</button>
</div>


<!-- Modal Sugerencias -->
<dialog  #modalSugerencia>
  <h3>💡 Enviar Sugerencia</h3>
  <form (submit)="enviarSugerencia(); modalSugerencia.close(); $event.preventDefault()">
    <textarea [(ngModel)]="textoSugerencia" 
              name="sugerencia" 
              placeholder="Escribe tu sugerencia aquí..." 
              rows="5"
              maxlength="200" 
              required></textarea>
               <!-- contador de caracteres -->
    <div class="contador">
      {{ textoSugerencia.length || 0 }}/200
    </div>
    <div class="acciones-modal">
      <button type="submit" [disabled]="(textoSugerencia.length || 0) > 200">Enviar</button>
      <button type="button" (click)="modalSugerencia.close()">Cancelar</button>
    </div>
  </form>
</dialog>


<!-- Solo visible si el usuario es administrador -->
<div *ngIf="tipoUsuario === 'administrador'" class="tabs-admin">
  <button 
    [class.active]="tabActivo === 'sugerencias'" 
    (click)="tabActivo = 'sugerencias'; verSugerencias()">
    💡 Ver Sugerencias
  </button>

  <button 
    [class.active]="tabActivo === 'calificaciones'" 
    (click)="tabActivo = 'calificaciones'">
    ⭐ Ver Calificaciones
  </button>
</div>

<!-- Tabla de sugerencias visible SOLO cuando el admin haga clic en "Sugerencias" -->
<div *ngIf="tipoUsuario === 'administrador' && tabActivo === 'sugerencias'" class="sugerencias-tabla">
  <h3>📋 Lista de Sugerencias</h3>

  <table>
  <thead>
    <tr>
      <th>#</th>
      <th>Usuario</th>
      <th>Fecha y Hora</th>
      <th>Ver</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of sugerencias">
      <td>{{ s.id }}</td>
      <td>{{ s.nombre }}</td>
      <td>{{ s.fecha  }}</td>
      <td>
        <!-- Botón con icono de ojo -->
        <button (click)="abrirModalSugerencia(s)">
          👁️
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- MODAL para ver sugerencia -->
<dialog #modalVerSugerencia>
  <h3>📄 Sugerencia de {{ sugerenciaSeleccionada?.nombre }}</h3>
  <p>{{ sugerenciaSeleccionada?.sugerencia }}</p>

  <div class="acciones-modal">
    <button type="button" (click)="cerrarModalSugerencia()">Cerrar</button>
  </div>
</dialog>


</div>

<!-- TAB CALIFICACIONES (ejemplo futuro) -->
<div *ngIf="tipoUsuario === 'administrador' && tabActivo === 'calificaciones'" class="tabla-calificaciones">
  <h3>⭐ Calificaciones de Usuarios</h3>
  <p>Aquí mostrarás las calificaciones...</p>
</div>


</div>